/*
CODE FOR STINKY FOOTER

...gonna just leave that typo as is
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
// variables:
$black: #0d0e11;
$grey: #46484c;
$silver: #9eb1d8;
$kbd-text: 'Special Elite', monospace;
$text: 'Montserrat', sans-serif;
$headers: 'Arvo', serif;

// mixins:
@mixin key($h, $w, $t, $r, $b, $l) {
  height: $h;
  width: $w;

  margin: $t $r $b $l;

  font-family: $kbd-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: $headers;
  font-size: 2em;
}
header,
footer {
  display: flex;
  flex-direction: column;
  background-color: $silver;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
p {
  font-family: $text;
}
.intro {
  padding: 1em 2em;
}
.keyboard {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: $black;
  margin: 1em 0.25em;
  padding: 0.25em;
}
kbd,
.sound {
  display: block;
}

.key-div,
.keys-row {
  display: flex;
}
.key-div {
  flex-direction: column;
}

//KEYS:
.key {
  color: white;
  transition: all 0.1s;
}

.keys {
  @include key(5em, 5em, 0.25em, 0.25em, 0.25em, 0.25em);
  border-radius: 50%;
  background: url('data:image/svg+xml;utf8,<svg width="80px" height="80px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="82.7819824%" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="200square" transform="translate(-1.000000, -4.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <circle id="Oval" cx="41" cy="44" r="37.5"></circle>
        </g>
    </g>
</svg>')
    no-repeat;
}

.space-arrows-row {
  margin-left: 20.3em;
}
.space-bar {
  @include key(5em, 25.2em, 0.25em, 1em, 0.25em, 1em);
  background: url('data:image/svg+xml;utf8,<svg width="400px" height="81px" viewBox="0 0 400 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="326.308931%" gradientTransform="translate(0.500000,0.500000),scale(0.202500,1.000000),rotate(0.514066),scale(1.000000,0.625853),translate(-0.500000,-0.500000)" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="spacebar" transform="translate(-4.000000, -5.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <path d="M204,83.0048722 C225.235846,83.0048722 243.780963,83.0834144 269.873788,83.2524886 C321.934626,83.5898283 331.771584,83.6089382 347.348733,83.2353705 C366.783804,82.7692829 378.70979,81.5953355 386.527942,79.2999834 C393.940715,77.1236474 397.675372,73.9811046 399.552376,68.7781838 C401.193891,64.2280209 401.5,59.5625074 401.5,45.5 C401.5,31.4374926 401.193891,26.7719791 399.552376,22.2218162 C397.675372,17.0188954 393.940715,13.8763526 386.527942,11.7000166 C378.70979,9.40466446 366.783804,8.23071715 347.348733,7.76462953 C331.771584,7.39106177 321.934626,7.41017168 269.873788,7.74751141 C243.780963,7.91658564 225.235846,7.99512778 204,7.99512778 C183.495688,7.99512778 165.589347,7.92604847 140.075801,7.77622782 C87.8949355,7.46981133 77.3139248,7.45628531 61.4740501,7.84212261 C41.7590491,8.32235258 29.649187,9.5056427 21.7069432,11.8064621 C14.1740648,13.9886908 10.3770381,17.1333655 8.47334068,22.3203487 C6.81041206,26.8513118 6.5,31.4982208 6.5,45.5 C6.5,61.1255092 6.94436148,66.0674194 9.34064663,70.6524176 C12.0933182,75.9193177 17.8327464,78.9880062 29.4005212,80.865513 C40.850315,82.7238709 57.6585344,83.401653 88.3781742,83.4406573 C99.1663385,83.4543549 175.027519,83.0048722 204,83.0048722 Z" id="Oval"></path>
        </g>
    </g>
</svg>')
    no-repeat;
}
.tab-key,
.delete-key {
  @include key(5em, 6.5em, 0.25em, 0.25em, 0.25em, 0.25em);
  background: url('data:image/svg+xml;utf8,<svg width="105px" height="80px" viewBox="0 0 105 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="134.625244%" gradientTransform="translate(0.500000,0.500000),scale(0.761905,1.000000),scale(1.000000,0.601411),translate(-0.500000,-0.500000)" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="smallkey" transform="translate(-2.000000, -5.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <path d="M54.5,82.5 C86.4173169,82.5 93.8578585,81.8701129 98.922392,78.0114207 C103.712869,74.3615336 104.5,68.9640622 104.5,45 C104.5,21.0359378 103.712869,15.6384664 98.922392,11.9885793 C93.8578585,8.12988712 86.4173169,7.5 54.5,7.5 C22.5826831,7.5 15.1421415,8.12988712 10.077608,11.9885793 C5.28713124,15.6384664 4.5,21.0359378 4.5,45 C4.5,68.9640622 5.28713124,74.3615336 10.077608,78.0114207 C15.1421415,81.8701129 22.5826831,82.5 54.5,82.5 Z" id="Oval"></path>
        </g>
    </g>
</svg>')
    no-repeat;
}
.shift-key {
  @include key(5em, 10.5em, 0.25em, 0.25em, 0.25em, 0.25em);
  background: url('data:image/svg+xml;utf8,<svg width="160px" height="80px" viewBox="0 0 160 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="159.907227%" gradientTransform="translate(0.500000,0.500000),scale(0.500000,1.000000),scale(1.000000,0.625853),translate(-0.500000,-0.500000)" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="longkeys" transform="translate(-4.000000, -5.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <path d="M84,82.5 C133.302022,82.5 144.673306,81.868262 152.881966,77.763932 C157.017979,75.6959258 159.171145,72.7054167 160.309532,67.5826739 C161.315186,63.0572304 161.5,58.5292984 161.5,45 C161.5,31.4707016 161.315186,26.9427696 160.309532,22.4173261 C159.171145,17.2945833 157.017979,14.3040742 152.881966,12.236068 C144.673306,8.13173802 133.302022,7.5 84,7.5 C34.6979783,7.5 23.3266939,8.13173802 15.118034,12.236068 C10.9820215,14.3040742 8.82885496,17.2945833 7.69046765,22.4173261 C6.68481355,26.9427696 6.5,31.4707016 6.5,45 C6.5,58.5292984 6.68481355,63.0572304 7.69046765,67.5826739 C8.82885496,72.7054167 10.9820215,75.6959258 15.118034,77.763932 C23.3266939,81.868262 34.6979783,82.5 84,82.5 Z" id="Oval"></path>
        </g>
    </g>
</svg>')
    no-repeat;
}
.capslock-key,
.return-key {
  @include key(5em, 8em, 0.25em, 0.25em, 0.25em, 0.25em);
  background: url('data:image/svg+xml;utf8,<svg width="120px" height="80px" viewBox="0 0 120 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="153.857422%" gradientTransform="translate(0.500000,0.500000),scale(0.666667,1.000000),scale(1.000000,0.601411),translate(-0.500000,-0.500000)" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="middle-keys" transform="translate(-4.000000, -5.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <path d="M64,82.5 C100.66312,82.5 109.190554,81.8683383 115.11325,77.9198743 C120.61791,74.2501003 121.5,68.957563 121.5,45 C121.5,21.042437 120.61791,15.7498997 115.11325,12.0801257 C109.190554,8.13166174 100.66312,7.5 64,7.5 C27.3368799,7.5 18.8094465,8.13166174 12.8867505,12.0801257 C7.38208955,15.7498997 6.5,21.042437 6.5,45 C6.5,68.957563 7.38208955,74.2501003 12.8867505,77.9198743 C18.8094465,81.8683383 27.3368799,82.5 64,82.5 Z" id="Oval"></path>
        </g>
    </g>
</svg>')
    no-repeat;
}

.arrow-keys-row,
.up-down-div {
  display: flex;
}
.arrow-keys-row {
  margin-left: 11em;
}
.up-down-div {
  flex-direction: column;
}
.arrow-keys {
  @include key(2.7em, 5.2em, 0.1em, 0.1em, 0.1em, 0.1em);
  background: url('data:image/svg+xml;utf8,<svg width="80px" height="40px" viewBox="0 0 80 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Oval</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="202.568359%" gradientTransform="translate(0.500000,0.500000),scale(0.500000,1.000000),scale(1.000000,0.391649),translate(-0.500000,-0.500000)" id="radialGradient-1">
            <stop stop-color="#8E9DA1" offset="0%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="arrows" transform="translate(-2.000000, -4.000000)" fill="url(#radialGradient-1)" fill-rule="nonzero" stroke="#8E9DA1" stroke-width="5">
            <path d="M42,41.5 C66.3020217,41.5 72.0483061,41.180762 75.881966,39.263932 C79.0038453,37.7029924 79.5,35.4702961 79.5,24 C79.5,12.5297039 79.0038453,10.2970076 75.881966,8.73606798 C72.0483061,6.81923802 66.3020217,6.5 42,6.5 C17.6979783,6.5 11.9516939,6.81923802 8.11803399,8.73606798 C4.99615474,10.2970076 4.5,12.5297039 4.5,24 C4.5,35.4702961 4.99615474,37.7029924 8.11803399,39.263932 C11.9516939,41.180762 17.6979783,41.5 42,41.5 Z" id="Oval"></path>
        </g>
    </g>
</svg>')
    no-repeat;
}
.sound {
  font-size: 0.75em;
}
//When key hit, .hit is added. will listen only to transform

.hit {
  box-shadow: 0px 0px 5px 2px $silver;
  transform: scale(1.1);
}

//When key hit, .hit is added. will listen only to transform

.hit {
  box-shadow: 0px 0px 5px 3px $silver; //just to test. style later
  transform: scale(1.1);
}
