/*
CODE FOR STINKY FOOTER

...gonna just leave that typo as is
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
// variables:
$black: #0d0e11;
$grey: #46484c;
$silver: #9eb1d8;

$kbd: 'Cutive Mono', monospace;
$text: 'Montserrat', sans-serif;
$headers: 'Arvo', serif;

// mixins:
@mixin key($h, $w, $t, $r, $b, $l) {
  height: $h;
  width: $w;
  margin: $t $r $b $l;
  text-align: center;
  font-family: $kbd;
}
.keyboard {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: $silver;
}
kbd,
.sound {
  display: block;
}

.key-div,
.keys-row {
  display: flex;
}
.key-div {
  flex-direction: column;
}

//KEYS:
.key {
  border: 0.5rem outset $grey;
  background-image: linear-gradient(to right, #434343 0%, $black 100%);
  color: white;
  transition: all 0.1s;
}
.keys {
  @include key(4.5em, 4.5em, 0.25em, 0.25em, 0.25em, 0.25em);
}

.space-arrows-row {
  margin-left: 20.3em;
}
.space-bar {
  @include key(4.5em, 24.5em, 0.25em, 1em, 0.25em, 1em);
}
.tab-key,
.delete-key {
  @include key(4.5em, 6.5em, 0.25em, 0.25em, 0.25em, 0.25em);
}
.shift-key {
  @include key(4.5em, 10.5em, 0.25em, 0.25em, 0.25em, 0.25em);
}
.capslock-key,
.return-key {
  @include key(4.5em, 8em, 0.25em, 0.25em, 0.25em, 0.25em);
}

.arrow-keys-row,
.up-down-div {
  display: flex;
}
.arrow-keys-row {
  margin-left: 11em;
}
.up-down-div {
  flex-direction: column;
}
.arrow-keys {
  @include key(2em, 4.5em, 0.1em, 0.1em, 0.1em, 0.1em);
}

//When key hit, .hit is added. will listen only to transform

.hit {
  box-shadow: 4px 4px 2px chartreuse; //just to test. style later
  transform: scale(1.1);
}
